MONGO_URI="mongodb+srv://myselfyourstej_db_user:nxtwave@cluster0.lfxust4.mongodb.net/?appName=Cluster0"
DB_NAME="smartquiz"
# Optional: Google Sheet URL (or a direct CSV export URL)
SHEET_URL="https://docs.google.com/spreadsheets/d/140YjTTysxhs98iVneY1JLt6bG0XJ2djMGNQAJi5I_XM/edit?gid=1088068260#gid=1088068260"


